In [95]:
# Importing Libraries
import pandas as pd
import numpy as np

In [96]:
# Loading Datasets
df = pd.read_csv("/content/drive/My Drive/productivity/datasets/football_players.csv")
df.head()

                name     club  age  ... club_id  big_club  new_signing
0     Alexis Sanchez  Arsenal   28  ...       1         1            0
1         Mesut Ozil  Arsenal   28  ...       1         1            0
2          Petr Cech  Arsenal   35  ...       1         1            0
3       Theo Walcott  Arsenal   28  ...       1         1            0
4  Laurent Koscielny  Arsenal   31  ...       1         1            0

[5 rows x 17 columns]

<h2> Investigating the dataset

In [97]:
df.shape

(461, 17)

In [98]:
df.describe(include='all')

                  name          club  ...    big_club new_signing
count              461           461  ...  461.000000  461.000000
unique             461            20  ...         NaN         NaN
top     Craig Cathcart  Huddersfield  ...         NaN         NaN
freq                 1            28  ...         NaN         NaN
mean               NaN           NaN  ...    0.303688    0.145336
std                NaN           NaN  ...    0.460349    0.352822
min                NaN           NaN  ...    0.000000    0.000000
25%                NaN           NaN  ...    0.000000    0.000000
50%                NaN           NaN  ...    0.000000    0.000000
75%                NaN           NaN  ...    1.000000    0.000000
max                NaN           NaN  ...    1.000000    1.000000

[11 rows x 17 columns]

In [99]:
cat = [x for x in list(df.select_dtypes(exclude=['int', 'float']).columns)]
print("Categorical Features:")
for i in range(len(cat)):
  print(str(i+1)+". "+cat[i])

Categorical Features:
1. name
2. club
3. position
4. fpl_sel
5. nationality

In [100]:
num = [x for x in list(df.select_dtypes(include=['int', 'float']).columns)]
print("Numerical Features:")
for i in range(len(num)):
  print(str(i+1)+". "+num[i])

Numerical Features:
1. age
2. position_cat
3. market_value
4. page_views
5. fpl_value
6. fpl_points
7. region
8. new_foreign
9. age_cat
10. club_id
11. big_club
12. new_signing

<h2> 1. Cleaning and Transforming the data

In [101]:
# Filling the missing values
df.isnull().sum()

name            0
club            0
age             0
position        0
position_cat    0
market_value    0
page_views      0
fpl_value       0
fpl_sel         0
fpl_points      0
region          1
nationality     0
new_foreign     0
age_cat         0
club_id         0
big_club        0
new_signing     0
dtype: int64

In [102]:
df['region'] = df['region'].fillna(2.0)

In [104]:
# Converting % string values of fpl_sel to numerical values

for i in range(len(df['fpl_sel'])):
  df['fpl_sel'][i] = float(df['fpl_sel'][i][:-1])

df['fpl_sel'] = pd.to_numeric(df['fpl_sel'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [105]:
df['fpl_sel']

0      17.1
1       5.6
2       5.9
3       1.5
4       0.7
       ...
456     0.4
457     0.2
458     0.3
459     5.9
460     0.1
Name: fpl_sel, Length: 461, dtype: float64